<a href="https://colab.research.google.com/github/LESRLUEN/Trabajo_en_clase_EDD/blob/main/clase_EDD_07_10_21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!ls

junio.dat  sample_data

In [2]:
!cat junio.dat

numero de trabajador, nombres, paterno, materno, horas extra, sueldo base, año de ingreso
2345,CARLOS,PEREZ,CASTILLO,0,9850,2017
5754,ANGEL,GOMEZ,GARRIDO,1,9850,2020
5345,JESUS,MARTIN,SANTOS,2,9850,2016
3267,DAVID,JIMENEZ,LOZANO,2,9850,2017
8765,PEDRO,RUIZ,GUERRERO,2,9850,2017
5454,DANIEL,HERNANDEZ,CANO,3,9850,2018
3456,ALEJANDRO,DIAZ,PRIETO,2,9850,2018
3445,MARIA,MORENO,MENDEZ,1,9850,2018
9088,ALBERTO,MU�OZ,CRUZ,1,9850,2017
8877,RAFAEL,ALVAREZ,FLORES,2,9850,2017
6767,FERNANDO,ROMERO,HERRERA,4,9850,2019
5654,PABLO,ALONSO,GALLEGO,1,9850,2019
4323,JORGE,GUTIERREZ,MARQUEZ,2,9850,2020
2232,RAMON,NAVARRO,LEON,1,9850,2016

In [5]:
archivo = open( 'junio.dat', 'rt', encoding='latin-1')
print(archivo.read())

numero de trabajador, nombres, paterno, materno, horas extra, sueldo base, aÃ±o de ingreso
2345,CARLOS,PEREZ,CASTILLO,0,9850,2017
5754,ANGEL,GOMEZ,GARRIDO,1,9850,2020
5345,JESUS,MARTIN,SANTOS,2,9850,2016
3267,DAVID,JIMENEZ,LOZANO,2,9850,2017
8765,PEDRO,RUIZ,GUERRERO,2,9850,2017
5454,DANIEL,HERNANDEZ,CANO,3,9850,2018
3456,ALEJANDRO,DIAZ,PRIETO,2,9850,2018
3445,MARIA,MORENO,MENDEZ,1,9850,2018
9088,ALBERTO,MUOZ,CRUZ,1,9850,2017
8877,RAFAEL,ALVAREZ,FLORES,2,9850,2017
6767,FERNANDO,ROMERO,HERRERA,4,9850,2019
5654,PABLO,ALONSO,GALLEGO,1,9850,2019
4323,JORGE,GUTIERREZ,MARQUEZ,2,9850,2020
2232,RAMON,NAVARRO,LEON,1,9850,2016

In [ ]:
class Trabajador:
    def __init__(self , nt , nom , ,pat , mat , he , sb , ai )
        self.__numero_trabajador = nt 
        # asi para cada atributo


    # aqui van todos los metodos de acceso
    def set_numero_trabajador( self , nt):
        self.__numero_trabajador = nt 


    # metodo de uso general. ----> metodos que hacen calculos de la logica

In [ ]:
class Nomina:
    def __init__( self , ruta_archivo):
        #abrir el archivo y determinar el numnero de empleados ---- > numerode empleado
        self.__data = array( num_emp )

    def calcular_sueldos( self ):
        #iterar sobre el array y hacer el calculo  de suledos 

    def buscar_mas_antiguao]( self ):
        #iterar y buscara en el array el de mayor antiguedad

    def buscar_menor_antiguedad( self )
    #idem

In [6]:
sueldo_base = 100
anio=2019
anti = 2
prestacion = 100 *(2*0.03)
print(sueldo_base + prestacion)

106.0